<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="AddonFolder" value="\\nas\Storage\Addons"/>
		<add key="WowFolder" value="C:\Program Files (x86)\World of Warcraft\Interface\AddOns"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
	</startup>
</configuration>
