<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Types" value="_retail_,_classic_"/>
		<add key="AddonFolder" value="\\nas\Storage\Addons"/>
		<add key="WowFolder" value="C:\Program Files (x86)\World of Warcraft\{type}\Interface\AddOns"/>
	</appSettings>
	<system.net>
		<defaultProxy>
			<proxy usesystemdefault="true" />
		</defaultProxy>
	</system.net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
	</startup>
</configuration>
